<%- include("partials/header.ejs") %>
<div class="blog-list">
  <% for( let i = 0; i < blogData.length; i++ ) { %>
    <div class="blog-card">
      <a href="/readBlog/<%= blogData[i].id %>" id="blogLink">
        <div class="blog-title">
          <%= blogData[i].title %>
        </div>
        <div class="blog-author">
          -By <%= blogData[i].author %>
        </div>
        <div class="blog-date">
          created at: <%= blogData[i].createdAt %>
        </div>
      </a>
    </div>
  <% } %>
</div>
<%- include("partials/footer.ejs") %>
